*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
header{
	background:#ff1e1e;
	padding:10px 15px;
}
header .row{
	display:grid;
	grid-template-columns:auto auto;
	justify-content:space-around;
	align-items:center;
}
header .row .contact-info ul{
	display:flex;
	gap:30px;
	align-items:center;
}

header .row .contact-info ul li a{
	color:white;
	font-size:18px;
	font-weight:bolder;
	
}

header .row .contact-info ul li .fa{
	margin-right:8px;
	color:white;
}
header .row .social-link-info ul{
		display:flex;
	gap:10px;
	align-items:center;
}
header .row .social-link-info ul li a{
	color:white;
	font-size:18px;
}
/* media screen start here */
@media(max-width:991px){
	header{
		display:none;
	}
}
	/* media screen start here */